.nav {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 30px 40px; /* Menos padding para un aspecto más compacto */
    transition: all 0.5s ease;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    z-index: 1000; /* Asegúrate que el menú esté siempre por encima */
}

.nav.active {
    background-color: rgba(255, 255, 255, 1); /* Fondo sólido cuando se hace scroll */
    padding: 10px 35px; /* Reducir padding */
}

.nav.active .logo,
.nav.active .menu a {
    color: #333;
}

.nav.active a:hover {
    background-color: #00bfff;
    color: #fff;
}

.logo {
    font-size: 28px; /* Tamaño de logo un poco más grande */
    color: #333;
    font-weight: bold; /* Aumenta el peso para más visibilidad */ 
}


.menu {
    display: flex; 
}

.menu li {
    list-style: none;
    margin: 0 15px; /* Espaciado lateral */
}

.menu li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    padding: 10px 15px; /* Espacio alrededor del texto */
    border-radius: 25px; /* Bordes redondeados */
    transition: color 0.3s ease, background-color 0.3s ease; /* Transición de fondo también */
}

.menu li a:hover {
    background-color: #00bfff; /* Cambiar fondo en hover */
    color: #fff;
}

.menu li a::after {
    content: '';
    position: absolute;
    width: 0; /* Comienza desde 0 */
    height: 2px; /* Grosor de la línea */
    background: linear-gradient(90deg, #00bfff, #333); /* Degradado para la línea */
    left: 0;
    bottom: 0;
    transition: width 0.3s ease, background-color 0.3s ease;
}

.menu li a:hover::after {
    width: 100%; /* La línea se expande al pasar el mouse */
}

.menu li a:active::after {
    background-color: #00bfff; /* Cambia el color al hacer clic */
    height: 3px; /* Aumenta el grosor */
    width: 100%; /* Se mantiene expandida al hacer clic */
}

.menu-btn {
    display: none;
    cursor: pointer;
}

.close-btn {
    display: none;
}

@media screen and (max-width: 1024px) {
    .logo {
        color: #333;
    }
    
    .nav.active .logo {
       color: #333;
    }

    .nav {
        background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
        box-shadow: none;
    }
    
    .nav.active {
        background-color: rgba(255, 255, 255, 1); /* Fondo sólido cuando se hace scroll */
        
    }

    
    .menu-btn {
        display: block;
    }

    .menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;
        height: 100vh;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease;
        transform: translateX(-100%); 
    }

    .menu li {
        margin: 15px 0;
    }

    .menu.active {
        transform: translateX(0); 
    }

    /* Muestra el close-btn cuando el menú esté activo */
    .menu.active ~ .close-btn {
        display: flex;
        transform: translateX(0); 
    }
    
    .close-btn {
        justify-content: center;
        position: absolute;
        display: flex;
        cursor: pointer;
        left: 0;
        top: 10px;
        transition: all 0.3s ease;
        transform: translateX(-100%);
        color: #333;
        padding: 10px;
        border-radius: 60%;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    }
    
    .close-btn:hover {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
        background-color: #f1f1f1; 
        transform: scale(2.1); 
    }
}
